name: Manual Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'デプロイ先を選択'
        required: true
        default: 'production'
        type: choice
        options:
          - production
          - staging

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploying
        run: echo "${{ github.event.inputs.environment }} へデプロイ中..."
